<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:dogTrainer.properties"/>

    <bean id="alabaiBean"
          class="org.chemax.Alabai"
          init-method="initAlabai"
          destroy-method="destroyAlabai"
          factory-method="getAlabai">
    </bean>

    <bean id="dogTrainerBean"
          class="org.chemax.DogTrainer">
        <property name="dog" ref="alabaiBean"/>
        <property name="name" value="${dogTrainer.name}"/>
        <property name="age" value="${dogTrainer.age}"/>
    </bean>

</beans>